In [186]:
import pandas as pd
import glob
from IPython.display import display

In [193]:
eval_func = lambda x: eval(x)
folder_path = 'Internet'
dataframes = []
# Utilizar glob para encontrar todos los archivos CSV en la carpeta
csv_files = glob.glob(folder_path + '\\*.csv')

# Imprimir los nombres de los archivos CSV encontrados
for file_path in csv_files:
    file_name = file_path.split('\\')[-1]
    df = pd.read_csv(f'./Internet/{file_name}',delimiter=',')
    #df = df.astype(str)
    #df = df.applymap(eval_func)
    #display(df.dtypes)
    print(file_name)
    #display(df.head())
    dataframes.append(file_name)

Accesos_banda_ancha_y_angosta_por_provincia.csv
Accesos_Internet_fijo_por_tecnología_y_localidad.csv
Accesos_Internet_fijo_por_velocidad_bajada_y_localidad.csv
Accesos_Internet_fijo_por_velocidad_bajada_y_provincia.csv
Acceso_Internet_Fijo_por_rangos_velocidad_bajada_y_provincia.csv
Acceso_Internet_fijo_por_tecnología_y_provincia.csv
Conectividad_al_servicio_Internet.csv
Distribución_accesos_totales_nacionales_internet_fijo_por_velocidad.csv
Ingresos_trimestrales_prestación_servicio_Internet_fijo.csv
Listado_localidades_conectividad_internet.csv
Penetración_de_Internet fijo_(accesos_cada_100 hogares).csv
Penetración_por_hogares_nacional_Internet fijo.csv
Serie_trimestral_accesos_Internet_fijo_por_tecnología.csv
Total_nacional_accesos_Internet_banda_ancha_y_banda_angosta.csv
Velocidad_media_bajada_Internet_fijo_por_provincia.csv
Velocidad_Media_de_bajada_Internet_fijo.csv

***

In [224]:
df = pd.read_csv(f'./Internet/{dataframes[0]}',delimiter=',')
df

      Año  Trimestre            Provincia Banda ancha fija Dial up      Total
0    2022          1         Buenos Aires        4.549.131   6.293  4.555.424
1    2022          1      Capital Federal        1.415.378   2.163  1.417.541
2    2022          1            Catamarca           62.377       1     62.378
3    2022          1                Chaco          144.114       5    144.119
4    2022          1               Chubut          170.701     927    171.628
..    ...        ...                  ...              ...     ...        ...
787  2014          1           Santa Cruz           26.304     460     26.764
788  2014          1             Santa Fe          506.000     612    506.612
789  2014          1  Santiago Del Estero           37.124       9     37.133
790  2014          1     Tierra Del Fuego           27.272     766     28.038
791  2014          1              Tucumán          129.944      88    130.032

[792 rows x 6 columns]

In [229]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               792 non-null    int64
 1   Trimestre         792 non-null    int64
 2   Provincia         792 non-null    object
 3   Banda ancha fija  792 non-null    object
 4   Dial up           790 non-null    object
 5   Total             792 non-null    object
dtypes: int64(2), object(4)
memory usage: 37.2+ KB

In [235]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [Año, Trimestre, Provincia, Banda ancha fija, Dial up, Total]
Index: []

In [234]:
df = df.fillna(0)

In [246]:
df[df.columns[3:]] = df[df.columns[3:]].astype(str).apply(lambda x: x.str.replace('.', ''))
df[df.columns[3:]] = df[df.columns[3:]].astype(str).apply(lambda x: x.str.replace('- ', ''))
df.head()

C:\Users\guill\AppData\Local\Temp\ipykernel_13688\3146010309.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[df.columns[3:]] = df[df.columns[3:]].astype(str).apply(lambda x: x.str.replace('.', ''))

    Año  Trimestre        Provincia Banda ancha fija Dial up    Total
0  2022          1     Buenos Aires          4549131    6293  4555424
1  2022          1  Capital Federal          1415378    2163  1417541
2  2022          1        Catamarca            62377       1    62378
3  2022          1            Chaco           144114       5   144119
4  2022          1           Chubut           170701     927   171628

In [247]:
df[df.columns[3:]] = df[df.columns[3:]].astype(int)

In [248]:
df

      Año  Trimestre            Provincia  Banda ancha fija  Dial up    Total
0    2022          1         Buenos Aires           4549131     6293  4555424
1    2022          1      Capital Federal           1415378     2163  1417541
2    2022          1            Catamarca             62377        1    62378
3    2022          1                Chaco            144114        5   144119
4    2022          1               Chubut            170701      927   171628
..    ...        ...                  ...               ...      ...      ...
787  2014          1           Santa Cruz             26304      460    26764
788  2014          1             Santa Fe            506000      612   506612
789  2014          1  Santiago Del Estero             37124        9    37133
790  2014          1     Tierra Del Fuego             27272      766    28038
791  2014          1              Tucumán            129944       88   130032

[792 rows x 6 columns]

In [249]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               792 non-null    int64
 1   Trimestre         792 non-null    int64
 2   Provincia         792 non-null    object
 3   Banda ancha fija  792 non-null    int32
 4   Dial up           792 non-null    int32
 5   Total             792 non-null    int32
dtypes: int32(3), int64(2), object(1)
memory usage: 28.0+ KB

In [262]:
# Utiliza la funcion 'to_pickle' de pandas para guardar en un archivo pickle el dataframe.
df.to_pickle(f'./Internet_datasets/{dataframes[0][:-4]}.pickle')

***

In [264]:
df = pd.read_csv(f'./Internet/{dataframes[1]}',delimiter=',')
df.head()

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general,Unnamed: 13
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,914,4.704,- 0,5,- 0,975,- 0,664,7.262,NaN
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1,- 0,- 0,192,NaN
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181,NaN
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,- 0,18,- 0,- 0,327,1.127,NaN
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6,NaN

In [265]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3127 entries, 0 to 3126
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3127 non-null   object
 1   Partido        3127 non-null   object
 2   Localidad      3127 non-null   object
 3   Link Indec     3127 non-null   object
 4   ADSL           3127 non-null   object
 5   CABLEMODEM     3127 non-null   object
 6   DIAL UP        3127 non-null   object
 7   FIBRA OPTICA   3127 non-null   object
 8   OTROS          3127 non-null   object
 9   SATELITAL      3127 non-null   object
 10  WIMAX          3127 non-null   object
 11  WIRELESS       3127 non-null   object
 12  Total general  3127 non-null   object
 13  Unnamed: 13    0 non-null      float64
dtypes: float64(1), object(13)
memory usage: 342.1+ KB

In [ ]:
df.drop('Link Indec',inplace=True,axis=1)

***

In [204]:
df = pd.read_csv(f'./Internet/{dataframes[4]}',delimiter=',')
df.head()

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,1,Buenos Aires,31.591,30.056,313.382,321.756,290.127,161.183,3.381.049,26.280,4.555.424
1,2022,1,Capital Federal,527.000,5.575,39.918,77.390,61.053,43.289,1.188.072,1.717,1.417.541
2,2022,1,Catamarca,71.000,456.000,4.386,7.009,8.773,3.761,35.715,2.207,62.378
3,2022,1,Chaco,461.000,1.099,16.888,21.235,20.898,13.012,62.946,7.580,144.119
4,2022,1,Chubut,113.000,1.677,61.369,31.856,33.080,13.871,14.055,15.607,171.628

In [11]:
df.isna().sum()

Año                    0
Trimestre              0
Provincia              0
HASTA 512 kbps         0
+ 512 Kbps - 1 Mbps    0
+ 1 Mbps - 6 Mbps      0
+ 6 Mbps - 10 Mbps     0
+ 10 Mbps - 20 Mbps    0
+ 20 Mbps - 30 Mbps    0
+ 30 Mbps              0
OTROS                  6
Total                  0
dtype: int64

In [12]:
df.fillna(0,inplace=True)

In [17]:
df.dtypes

Año             int64
Trimestre       int64
Provincia      object
hasta 512kb     int32
512Kb a 1Mb     int32
1Mb a 6Mb       int32
6Mb a 10Mb      int32
10Mb a 20Mb     int32
20Mb a 30Mb     int32
mas de 30Mb     int32
Otros           int32
Total           int32
dtype: object

In [14]:
columnas_afectadas = ['HASTA 512 kbps', '+ 512 Kbps - 1 Mbps', '+ 1 Mbps - 6 Mbps','+ 6 Mbps - 10 Mbps','+ 10 Mbps - 20 Mbps','+ 20 Mbps - 30 Mbps','+ 30 Mbps','OTROS','Total']
df[columnas_afectadas] = df[columnas_afectadas].astype(str).apply(lambda x: x.str.replace('.', ''))
df

C:\Users\guill\AppData\Local\Temp\ipykernel_13688\1726922224.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[columnas_afectadas] = df[columnas_afectadas].astype(str).apply(lambda x: x.str.replace('.', ''))

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,1,Buenos Aires,31591,30056,313382,321756,290127,161183,3381049,2628,4555424
1,2022,1,Capital Federal,5270,5575,39918,7739,61053,43289,1188072,1717,1417541
2,2022,1,Catamarca,710,4560,4386,7009,8773,3761,35715,2207,62378
3,2022,1,Chaco,4610,1099,16888,21235,20898,13012,62946,758,144119
4,2022,1,Chubut,1130,1677,61369,31856,3308,13871,14055,15607,171628
...,...,...,...,...,...,...,...,...,...,...,...,...
787,2014,1,Santa Cruz,1610,1625,24972,10,10,00,0,00,26760
788,2014,1,Santa Fe,8456,124468,345225,20328,6845,230,668,00,506013
789,2014,1,Santiago Del Estero,1234,10531,22817,2422,1090,00,0,00,37113
790,2014,1,Tierra Del Fuego,120,6070,30902,60,00,00,0,00,31527
791,2014,1,Tucumán,60,34672,83210,11779,3620,30,0,00,130032

In [15]:
df[columnas_afectadas] = df[columnas_afectadas].astype(int)
df

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,1,Buenos Aires,31591,30056,313382,321756,290127,161183,3381049,2628,4555424
1,2022,1,Capital Federal,5270,5575,39918,7739,61053,43289,1188072,1717,1417541
2,2022,1,Catamarca,710,4560,4386,7009,8773,3761,35715,2207,62378
3,2022,1,Chaco,4610,1099,16888,21235,20898,13012,62946,758,144119
4,2022,1,Chubut,1130,1677,61369,31856,3308,13871,14055,15607,171628
...,...,...,...,...,...,...,...,...,...,...,...,...
787,2014,1,Santa Cruz,1610,1625,24972,10,10,0,0,0,26760
788,2014,1,Santa Fe,8456,124468,345225,20328,6845,230,668,0,506013
789,2014,1,Santiago Del Estero,1234,10531,22817,2422,1090,0,0,0,37113
790,2014,1,Tierra Del Fuego,120,6070,30902,60,0,0,0,0,31527
791,2014,1,Tucumán,60,34672,83210,11779,3620,30,0,0,130032

In [16]:
# Crear un diccionario de mapeo de nombres de columnas antiguos a nuevos
new_names = {'HASTA 512 kbps': 'hasta 512kb',
              '+ 512 Kbps - 1 Mbps': '512Kb a 1Mb',
                '+ 1 Mbps - 6 Mbps': '1Mb a 6Mb',
                '+ 6 Mbps - 10 Mbps':'6Mb a 10Mb',
                '+ 10 Mbps - 20 Mbps':'10Mb a 20Mb',
                '+ 20 Mbps - 30 Mbps':'20Mb a 30Mb',
                '+ 30 Mbps':'mas de 30Mb',
                'OTROS':'Otros',
                }
# Cambiar los nombres de las columnas utilizando el diccionario
df.columns = [new_names[col] if col in new_names else col for col in df.columns]
df

,Año,Trimestre,Provincia,hasta 512kb,512Kb a 1Mb,1Mb a 6Mb,6Mb a 10Mb,10Mb a 20Mb,20Mb a 30Mb,mas de 30Mb,Otros,Total
0,2022,1,Buenos Aires,31591,30056,313382,321756,290127,161183,3381049,2628,4555424
1,2022,1,Capital Federal,5270,5575,39918,7739,61053,43289,1188072,1717,1417541
2,2022,1,Catamarca,710,4560,4386,7009,8773,3761,35715,2207,62378
3,2022,1,Chaco,4610,1099,16888,21235,20898,13012,62946,758,144119
4,2022,1,Chubut,1130,1677,61369,31856,3308,13871,14055,15607,171628
...,...,...,...,...,...,...,...,...,...,...,...,...
787,2014,1,Santa Cruz,1610,1625,24972,10,10,0,0,0,26760
788,2014,1,Santa Fe,8456,124468,345225,20328,6845,230,668,0,506013
789,2014,1,Santiago Del Estero,1234,10531,22817,2422,1090,0,0,0,37113
790,2014,1,Tierra Del Fuego,120,6070,30902,60,0,0,0,0,31527
791,2014,1,Tucumán,60,34672,83210,11779,3620,30,0,0,130032

In [18]:
# Utiliza la funcion 'to_pickle' de pandas para guardar en un archivo pickle el dataframe.
df.to_pickle(f'./Internet_datasets/Acceso_Internet_Fijo_por_rangos_velocidad_bajada_y_provincia.pickle')

***

In [211]:
df = pd.read_csv(f'./Internet/{dataframes[5]}',delimiter=',')
df.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,1,Buenos Aires,392.045,2.728.865,1.242.121,125.521,66.872,4.555.424
1,2022,1,Capital Federal,102.290,1.217.225,62.308,5.784,29.934,1.417.541
2,2022,1,Catamarca,14.181,15.517,29.118,1.328,2.234,62.378
3,2022,1,Chaco,32.391,64.546,36.662,8.164,2.356,144.119
4,2022,1,Chubut,44.133,66.667,9.184,30.592,21.052,171.628

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 792 entries, 0 to 791
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           792 non-null    object
 1   Trimestre     792 non-null    object
 2   Provincia     792 non-null    object
 3   ADSL          792 non-null    object
 4   Cablemodem    792 non-null    object
 5   Fibra óptica  792 non-null    object
 6   Wireless      792 non-null    object
 7   Otros         792 non-null    object
 8   Total         792 non-null    object
dtypes: object(9)
memory usage: 61.9+ KB

In [21]:
df[df.isnull().any(axis=1)]

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
792,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.dropna(inplace=True)

In [23]:
df[['Año','Trimestre']] = df[['Año','Trimestre']].astype(int)

ValueError: invalid literal for int() with base 10: '2019 *'

In [24]:
df[df['Año'] == '2019 *']

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
240,2019 *,3 *,Buenos Aires,1.277.249,2.144.956,425.386,85.572,27.070,3.960.233
241,2019 *,3 *,Capital Federal,300.288,1.080.973,24.900,3.895,31.155,1.441.211
242,2019 *,3 *,Catamarca,24.349,5.543,13,244,2.251,32.400
243,2019 *,3 *,Chaco,50.416,49.156,8.063,5.224,1.592,114.451
244,2019 *,3 *,Chubut,37.298,27.090,1.917,15.149,7.551,89.005
...,...,...,...,...,...,...,...,...,...
307,2019 *,1 *,Santa Cruz,10.659,4.615,382,6.514,2.735,24.905
308,2019 *,1 *,Santa Fe,340.038,340.344,15.621,23.215,17.860,737.078
309,2019 *,1 *,Santiago Del Estero,25.337,61.547,23,2.847,99.000,89.853
310,2019 *,1 *,Tierra Del Fuego,19.789,23.549,1.623,- 0,1.486,46.447
311,2019 *,1 *,Tucumán,159.215,11.670,118,678,321.000,172.002

In [25]:
columnas_afectadas = ['Año', 'Trimestre']
df[columnas_afectadas] = df[columnas_afectadas].astype(str).apply(lambda x: x.str.replace('*', ''))
df

C:\Users\guill\AppData\Local\Temp\ipykernel_13688\460669574.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[columnas_afectadas] = df[columnas_afectadas].astype(str).apply(lambda x: x.str.replace('*', ''))

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,1,Buenos Aires,392.045,2.728.865,1.242.121,125.521,66.872,4.555.424
1,2022,1,Capital Federal,102.290,1.217.225,62.308,5.784,29.934,1.417.541
2,2022,1,Catamarca,14.181,15.517,29.118,1.328,2.234,62.378
3,2022,1,Chaco,32.391,64.546,36.662,8.164,2.356,144.119
4,2022,1,Chubut,44.133,66.667,9.184,30.592,21.052,171.628
...,...,...,...,...,...,...,...,...,...
787,2014,1,Santa Cruz,18.927,100,381,4.092,3.264,26.764
788,2014,1,Santa Fe,322.662,174.296,3.059,5.951,644.000,506.612
789,2014,1,Santiago Del Estero,32.567,3.598,19,915,34.000,37.133
790,2014,1,Tierra Del Fuego,21.618,2.837,648,1,2.934,28.038
791,2014,1,Tucumán,129.717,83,121,13,98.000,130.032

In [26]:
columnas_afectadas = ['ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless', 'Otros', 'Total']

df[columnas_afectadas] = df[columnas_afectadas].astype(str).apply(lambda x: x.str.replace('.', ''))
df

C:\Users\guill\AppData\Local\Temp\ipykernel_13688\3951910724.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[columnas_afectadas] = df[columnas_afectadas].astype(str).apply(lambda x: x.str.replace('.', ''))

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,1,Buenos Aires,392045,2728865,1242121,125521,66872,4555424
1,2022,1,Capital Federal,102290,1217225,62308,5784,29934,1417541
2,2022,1,Catamarca,14181,15517,29118,1328,2234,62378
3,2022,1,Chaco,32391,64546,36662,8164,2356,144119
4,2022,1,Chubut,44133,66667,9184,30592,21052,171628
...,...,...,...,...,...,...,...,...,...
787,2014,1,Santa Cruz,18927,100,381,4092,3264,26764
788,2014,1,Santa Fe,322662,174296,3059,5951,6440,506612
789,2014,1,Santiago Del Estero,32567,3598,19,915,340,37133
790,2014,1,Tierra Del Fuego,21618,2837,648,1,2934,28038
791,2014,1,Tucumán,129717,83,121,13,980,130032

In [27]:
df[columnas_afectadas] = df[columnas_afectadas].astype(int)
df

ValueError: invalid literal for int() with base 10: '- 0'

In [33]:
df.loc[df.eq('- 0').any(axis=1)]

Empty DataFrame
Columns: [Año, Trimestre, Provincia, ADSL, Cablemodem, Fibra óptica, Wireless, Otros, Total]
Index: []

In [32]:
df[columnas_afectadas] = df[columnas_afectadas].astype(str).apply(lambda x: x.str.replace('- ', ''))
df

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,1,Buenos Aires,392045,2728865,1242121,125521,66872,4555424
1,2022,1,Capital Federal,102290,1217225,62308,5784,29934,1417541
2,2022,1,Catamarca,14181,15517,29118,1328,2234,62378
3,2022,1,Chaco,32391,64546,36662,8164,2356,144119
4,2022,1,Chubut,44133,66667,9184,30592,21052,171628
...,...,...,...,...,...,...,...,...,...
787,2014,1,Santa Cruz,18927,100,381,4092,3264,26764
788,2014,1,Santa Fe,322662,174296,3059,5951,6440,506612
789,2014,1,Santiago Del Estero,32567,3598,19,915,340,37133
790,2014,1,Tierra Del Fuego,21618,2837,648,1,2934,28038
791,2014,1,Tucumán,129717,83,121,13,980,130032

In [34]:
df[columnas_afectadas] = df[columnas_afectadas].astype(int)
df

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,1,Buenos Aires,392045,2728865,1242121,125521,66872,4555424
1,2022,1,Capital Federal,102290,1217225,62308,5784,29934,1417541
2,2022,1,Catamarca,14181,15517,29118,1328,2234,62378
3,2022,1,Chaco,32391,64546,36662,8164,2356,144119
4,2022,1,Chubut,44133,66667,9184,30592,21052,171628
...,...,...,...,...,...,...,...,...,...
787,2014,1,Santa Cruz,18927,100,381,4092,3264,26764
788,2014,1,Santa Fe,322662,174296,3059,5951,6440,506612
789,2014,1,Santiago Del Estero,32567,3598,19,915,340,37133
790,2014,1,Tierra Del Fuego,21618,2837,648,1,2934,28038
791,2014,1,Tucumán,129717,83,121,13,980,130032

In [37]:
df.dtypes

Año              int32
Trimestre        int32
Provincia       object
ADSL             int32
Cablemodem       int32
Fibra óptica     int32
Wireless         int32
Otros            int32
Total            int32
dtype: object

In [36]:
df[['Año','Trimestre']] = df[['Año','Trimestre']].astype(int)
df

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,1,Buenos Aires,392045,2728865,1242121,125521,66872,4555424
1,2022,1,Capital Federal,102290,1217225,62308,5784,29934,1417541
2,2022,1,Catamarca,14181,15517,29118,1328,2234,62378
3,2022,1,Chaco,32391,64546,36662,8164,2356,144119
4,2022,1,Chubut,44133,66667,9184,30592,21052,171628
...,...,...,...,...,...,...,...,...,...
787,2014,1,Santa Cruz,18927,100,381,4092,3264,26764
788,2014,1,Santa Fe,322662,174296,3059,5951,6440,506612
789,2014,1,Santiago Del Estero,32567,3598,19,915,340,37133
790,2014,1,Tierra Del Fuego,21618,2837,648,1,2934,28038
791,2014,1,Tucumán,129717,83,121,13,980,130032

In [38]:
# Utiliza la funcion 'to_pickle' de pandas para guardar en un archivo pickle el dataframe.
df.to_pickle('./Internet_datasets/Acceso_Internet_fijo_por_tecnología_y_provincia.pickle')

***

In [214]:
df = pd.read_csv(f'./Internet/{dataframes[2]}',delimiter=',')
df.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,375 Mbps","0,5 Mbps","0,512 Mbps","0,625 Mbps",...,75 Mbps,78 Mbps,80 Mbps,82 Mbps,83 Mbps,85 Mbps,90 Mbps,92 Mbps,95 Mbps,100 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
df.drop('Link Indec',inplace=True,axis=1)
df.head()

,Provincia,Partido,Localidad,Otros,"0,256 Mbps","0,375 Mbps","0,5 Mbps","0,512 Mbps","0,625 Mbps","0,75 Mbps",...,75 Mbps,78 Mbps,80 Mbps,82 Mbps,83 Mbps,85 Mbps,90 Mbps,92 Mbps,95 Mbps,100 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,NaN,NaN,NaN,2.0,NaN,NaN,21.0,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
df.columns = df.columns.str.replace('ps','')
df.columns = df.columns.str.replace(' ','')
df.columns = df.columns.str.replace(',','.')
df.head()

,Provincia,Partido,Localidad,Otros,0.256Mb,0.375Mb,0.5Mb,0.512Mb,0.625Mb,0.75Mb,...,75Mb,78Mb,80Mb,82Mb,83Mb,85Mb,90Mb,92Mb,95Mb,100Mb
0,BUENOS AIRES,25 de Mayo,25 de Mayo,NaN,NaN,NaN,2.0,NaN,NaN,21.0,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
df.dtypes

Provincia     object
Partido       object
Localidad     object
Otros        float64
0.256Mb      float64
              ...
85Mb         float64
90Mb         float64
92Mb         float64
95Mb         float64
100Mb        float64
Length: 82, dtype: object

In [71]:
df.fillna(0.0,inplace=True,axis=1)
df

,Provincia,Partido,Localidad,Otros,0.256Mb,0.375Mb,0.5Mb,0.512Mb,0.625Mb,0.75Mb,...,75Mb,78Mb,80Mb,82Mb,83Mb,85Mb,90Mb,92Mb,95Mb,100Mb
0,BUENOS AIRES,25 de Mayo,25 de Mayo,0.0,0.0,0.0,2.0,0.0,0.0,21.0,...,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,BUENOS AIRES,25 de Mayo,Del Valle,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,BUENOS AIRES,25 de Mayo,Ernestina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3081,TUCUMAN,Tafí Viejo,Tafí Viejo,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,982.0
3082,TUCUMAN,Trancas,San Pedro de Colalao,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3083,TUCUMAN,Trancas,Villa de Trancas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3084,TUCUMAN,Yerba Buena,Villa Carmela,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3085,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,176.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5860.0

In [73]:
df[df.columns[3:]] = df[df.columns[3:]].astype(float)
df

,Provincia,Partido,Localidad,Otros,0.256Mb,0.375Mb,0.5Mb,0.512Mb,0.625Mb,0.75Mb,...,75Mb,78Mb,80Mb,82Mb,83Mb,85Mb,90Mb,92Mb,95Mb,100Mb
0,BUENOS AIRES,25 de Mayo,25 de Mayo,0.0,0.0,0.0,2.0,0.0,0.0,21.0,...,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,BUENOS AIRES,25 de Mayo,Del Valle,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,BUENOS AIRES,25 de Mayo,Ernestina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3081,TUCUMAN,Tafí Viejo,Tafí Viejo,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,982.0
3082,TUCUMAN,Trancas,San Pedro de Colalao,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3083,TUCUMAN,Trancas,Villa de Trancas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3084,TUCUMAN,Yerba Buena,Villa Carmela,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3085,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,176.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5860.0

In [75]:
# Utiliza la funcion 'to_pickle' de pandas para guardar en un archivo pickle el dataframe.
df.to_pickle('./Internet_datasets/Accesos_Internet_fijo_por_velocidad_bajada_y_localidad.pickle')

***

In [217]:
df = pd.read_csv(f'./Internet/{dataframes[3]}',delimiter=',')
df.head()

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,70 Mbps,71 Mbps,75 Mbps,77 Mbps,78 Mbps,80 Mbps,81 Mbps,83 Mbps,82 Mbps,86 Mbps
0,2022.0,1.0,Buenos Aires,"26,280",19,- 0,- 0,"31,380",192,"5,958",...,"3,163",- 0,"100,884",- 0,4,212,- 0,2,- 0,- 0
1,2022.0,1.0,Capital Federal,"1,717",31,- 0,- 0,461,35,"1,407",...,3,- 0,"31,684",- 0,- 0,8,- 0,- 0,- 0,- 0
2,2022.0,1.0,Catamarca,"2,207",- 0,- 0,- 0,34,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022.0,1.0,Chaco,"7,580",- 0,225,111,234,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022.0,1.0,Chubut,"15,607",8,- 0,- 0,73,32,"1,069",...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0

In [150]:
df.dtypes

Año           float64
Trimestre     float64
Provincia      object
Otros          object
0,256 Mbps     object
               ...
80 Mbps        object
81 Mbps        object
83 Mbps        object
82 Mbps        object
86 Mbps        object
Length: 97, dtype: object

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433 entries, 0 to 432
Data columns (total 97 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Año         432 non-null    float64
 1   Trimestre   432 non-null    float64
 2   Provincia   432 non-null    object
 3   Otros       432 non-null    object
 4   0,256 Mbps  432 non-null    object
 5   0,375 Mbps  432 non-null    object
 6   0,625 Mbps  432 non-null    object
 7   0,5 Mbps    432 non-null    object
 8   0,512 Mbps  432 non-null    object
 9   0,75 Mbps   432 non-null    object
 10  1 Mbps      432 non-null    object
 11  1,2 Mbps    432 non-null    object
 12  1,25 Mbps   432 non-null    object
 13  1,5 Mbps    432 non-null    object
 14  2 Mbps      432 non-null    object
 15  2,2 Mbps    432 non-null    object
 16  2,5 Mbps    433 non-null    object
 17  6,7 Mbps    432 non-null    object
 18  3 Mbps      432 non-null    object
 19  3,2 Mbps    432 non-null    object
 20  3,3 Mbps    432 non-null    object
 21  3,5 Mbps    432 non-null    object
 22  4 Mbps      432 non-null    object
 23  4,5 Mbps    432 non-null    object
 24  5 Mbps      432 non-null    object
 25  6 Mbps      432 non-null    object
 26  6,4 Mbps    432 non-null    object
 27  7 Mbps      432 non-null    object
 28  7,5 Mbps    432 non-null    object
 29  8 Mbps      432 non-null    object
 30  9 Mbps      432 non-null    object
 31  10 Mbps     432 non-null    object
 32  10,6 Mbps   432 non-null    object
 33  11 Mbps     432 non-null    object
 34  12 Mbps     432 non-null    object
 35  13 Mbps     432 non-null    object
 36  14 Mbps     432 non-null    object
 37  15 Mbps     432 non-null    object
 38  16 Mbps     432 non-null    object
 39  17 Mbps     432 non-null    object
 40  18 Mbps     432 non-null    object
 41  19 Mbps     432 non-null    object
 42  20 Mbps     432 non-null    object
 43  21 Mbps     432 non-null    object
 44  22 Mbps     432 non-null    object
 45  23 Mbps     432 non-null    object
 46  24 Mbps     432 non-null    object
 47  25 Mbps     432 non-null    object
 48  25,1 Mbps   432 non-null    object
 49  25,11 Mbps  432 non-null    object
 50  25,5 Mbps   432 non-null    object
 51  26 Mbps     432 non-null    object
 52  28 Mbps     432 non-null    object
 53  29 Mbps     432 non-null    object
 54  30 Mbps     432 non-null    object
 55  31 Mbps     432 non-null    object
 56  32 Mbps     432 non-null    object
 57  34 Mbps     432 non-null    object
 58  35 Mbps     432 non-null    object
 59  36 Mbps     432 non-null    object
 60  37 Mbps     432 non-null    object
 61  38 Mbps     432 non-null    object
 62  39 Mbps     432 non-null    object
 63  40 Mbps     432 non-null    object
 64  41 Mbps     432 non-null    object
 65  45 Mbps     432 non-null    object
 66  46 Mbps     432 non-null    object
 67  47 Mbps     432 non-null    object
 68  48 Mbps     432 non-null    object
 69  49 Mbps     432 non-null    object
 70  50 Mbps     432 non-null    object
 71  51 Mbps     432 non-null    object
 72  52 Mbps     432 non-null    object
 73  54 Mbps     432 non-null    object
 74  55 Mbps     432 non-null    object
 75  56 Mbps     432 non-null    object
 76  58 Mbps     432 non-null    object
 77  59 Mbps     432 non-null    object
 78  60 Mbps     432 non-null    object
 79  61 Mbps     432 non-null    object
 80  62 Mbps     432 non-null    object
 81  63 Mbps     432 non-null    object
 82  64 Mbps     432 non-null    object
 83  65 Mbps     432 non-null    object
 84  66 Mbps     432 non-null    object
 85  67 Mbps     432 non-null    object
 86  68 Mbps     432 non-null    object
 87  70 Mbps     432 non-null    object
 88  71 Mbps     432 non-null    object
 89  75 Mbps     432 non-null    object
 90  77 Mbps     432 non-null    object
 91  78 Mbps     432 non-null    object
 92  80 Mbps     432 non-null    object
 93  81 Mbps     432 non-null    object
 94  83 Mbps     432 non-null    object
 95  82 Mbps     432 non-null    object
 96  86 Mbps     432 non-null    object
dtypes: float64(2), object(95)
memory usage: 328.3+ KB

In [152]:
df[df.columns[:2]] = df[df.columns[:2]].astype(int)
df.head()

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [153]:
df.loc[df.isnull().any(axis=1)]

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,70 Mbps,71 Mbps,75 Mbps,77 Mbps,78 Mbps,80 Mbps,81 Mbps,83 Mbps,82 Mbps,86 Mbps
432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
df = df.drop(index=432)

In [155]:
df[df.columns[:2]] = df[df.columns[:2]].astype(int)
df.head()

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,70 Mbps,71 Mbps,75 Mbps,77 Mbps,78 Mbps,80 Mbps,81 Mbps,83 Mbps,82 Mbps,86 Mbps
0,2022,1,Buenos Aires,"26,280",19,- 0,- 0,"31,380",192,"5,958",...,"3,163",- 0,"100,884",- 0,4,212,- 0,2,- 0,- 0
1,2022,1,Capital Federal,"1,717",31,- 0,- 0,461,35,"1,407",...,3,- 0,"31,684",- 0,- 0,8,- 0,- 0,- 0,- 0
2,2022,1,Catamarca,"2,207",- 0,- 0,- 0,34,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022,1,Chaco,"7,580",- 0,225,111,234,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022,1,Chubut,"15,607",8,- 0,- 0,73,32,"1,069",...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0

In [156]:
df.columns = df.columns.str.replace('ps','')
display(df.head())
df.columns = df.columns.str.replace(' ','')
display(df.head())
df.columns = df.columns.str.replace(',','.')
display(df.head())
df[df.columns[3:]] = df[df.columns[3:]].astype(str).apply(lambda x: x.str.replace('- ', ''))
display(df.head())
df[df.columns[3:]] = df[df.columns[3:]].astype(str).apply(lambda x: x.str.replace(',', ''))
display(df.head())
df[df.columns[3:]] = df[df.columns[3:]].astype(int)
display(df.head())

,Año,Trimestre,Provincia,Otros,"0,256 Mb","0,375 Mb","0,625 Mb","0,5 Mb","0,512 Mb","0,75 Mb",...,70 Mb,71 Mb,75 Mb,77 Mb,78 Mb,80 Mb,81 Mb,83 Mb,82 Mb,86 Mb
0,2022,1,Buenos Aires,"26,280",19,- 0,- 0,"31,380",192,"5,958",...,"3,163",- 0,"100,884",- 0,4,212,- 0,2,- 0,- 0
1,2022,1,Capital Federal,"1,717",31,- 0,- 0,461,35,"1,407",...,3,- 0,"31,684",- 0,- 0,8,- 0,- 0,- 0,- 0
2,2022,1,Catamarca,"2,207",- 0,- 0,- 0,34,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022,1,Chaco,"7,580",- 0,225,111,234,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022,1,Chubut,"15,607",8,- 0,- 0,73,32,"1,069",...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0

,Año,Trimestre,Provincia,Otros,"0,256Mb","0,375Mb","0,625Mb","0,5Mb","0,512Mb","0,75Mb",...,70Mb,71Mb,75Mb,77Mb,78Mb,80Mb,81Mb,83Mb,82Mb,86Mb
0,2022,1,Buenos Aires,"26,280",19,- 0,- 0,"31,380",192,"5,958",...,"3,163",- 0,"100,884",- 0,4,212,- 0,2,- 0,- 0
1,2022,1,Capital Federal,"1,717",31,- 0,- 0,461,35,"1,407",...,3,- 0,"31,684",- 0,- 0,8,- 0,- 0,- 0,- 0
2,2022,1,Catamarca,"2,207",- 0,- 0,- 0,34,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022,1,Chaco,"7,580",- 0,225,111,234,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022,1,Chubut,"15,607",8,- 0,- 0,73,32,"1,069",...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0

,Año,Trimestre,Provincia,Otros,0.256Mb,0.375Mb,0.625Mb,0.5Mb,0.512Mb,0.75Mb,...,70Mb,71Mb,75Mb,77Mb,78Mb,80Mb,81Mb,83Mb,82Mb,86Mb
0,2022,1,Buenos Aires,"26,280",19,- 0,- 0,"31,380",192,"5,958",...,"3,163",- 0,"100,884",- 0,4,212,- 0,2,- 0,- 0
1,2022,1,Capital Federal,"1,717",31,- 0,- 0,461,35,"1,407",...,3,- 0,"31,684",- 0,- 0,8,- 0,- 0,- 0,- 0
2,2022,1,Catamarca,"2,207",- 0,- 0,- 0,34,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022,1,Chaco,"7,580",- 0,225,111,234,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022,1,Chubut,"15,607",8,- 0,- 0,73,32,"1,069",...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0

,Año,Trimestre,Provincia,Otros,0.256Mb,0.375Mb,0.625Mb,0.5Mb,0.512Mb,0.75Mb,...,70Mb,71Mb,75Mb,77Mb,78Mb,80Mb,81Mb,83Mb,82Mb,86Mb
0,2022,1,Buenos Aires,"26,280",19,0,0,"31,380",192,"5,958",...,"3,163",0,"100,884",0,4,212,0,2,0,0
1,2022,1,Capital Federal,"1,717",31,0,0,461,35,"1,407",...,3,0,"31,684",0,0,8,0,0,0,0
2,2022,1,Catamarca,"2,207",0,0,0,34,37,0,...,0,0,0,0,0,0,0,0,0,0
3,2022,1,Chaco,"7,580",0,225,111,234,2,0,...,0,0,0,0,0,0,0,0,0,0
4,2022,1,Chubut,"15,607",8,0,0,73,32,"1,069",...,0,0,0,0,0,0,0,0,0,0

,Año,Trimestre,Provincia,Otros,0.256Mb,0.375Mb,0.625Mb,0.5Mb,0.512Mb,0.75Mb,...,70Mb,71Mb,75Mb,77Mb,78Mb,80Mb,81Mb,83Mb,82Mb,86Mb
0,2022,1,Buenos Aires,26280,19,0,0,31380,192,5958,...,3163,0,100884,0,4,212,0,2,0,0
1,2022,1,Capital Federal,1717,31,0,0,461,35,1407,...,3,0,31684,0,0,8,0,0,0,0
2,2022,1,Catamarca,2207,0,0,0,34,37,0,...,0,0,0,0,0,0,0,0,0,0
3,2022,1,Chaco,7580,0,225,111,234,2,0,...,0,0,0,0,0,0,0,0,0,0
4,2022,1,Chubut,15607,8,0,0,73,32,1069,...,0,0,0,0,0,0,0,0,0,0

,Año,Trimestre,Provincia,Otros,0.256Mb,0.375Mb,0.625Mb,0.5Mb,0.512Mb,0.75Mb,...,70Mb,71Mb,75Mb,77Mb,78Mb,80Mb,81Mb,83Mb,82Mb,86Mb
0,2022,1,Buenos Aires,26280,19,0,0,31380,192,5958,...,3163,0,100884,0,4,212,0,2,0,0
1,2022,1,Capital Federal,1717,31,0,0,461,35,1407,...,3,0,31684,0,0,8,0,0,0,0
2,2022,1,Catamarca,2207,0,0,0,34,37,0,...,0,0,0,0,0,0,0,0,0,0
3,2022,1,Chaco,7580,0,225,111,234,2,0,...,0,0,0,0,0,0,0,0,0,0
4,2022,1,Chubut,15607,8,0,0,73,32,1069,...,0,0,0,0,0,0,0,0,0,0

In [157]:
df.dtypes

Año           int32
Trimestre     int32
Provincia    object
Otros         int32
0.256Mb       int32
              ...
80Mb          int32
81Mb          int32
83Mb          int32
82Mb          int32
86Mb          int32
Length: 97, dtype: object

In [159]:
# Utiliza la funcion 'to_pickle' de pandas para guardar en un archivo pickle el dataframe.
df.to_pickle('./Internet_datasets/Accesos_Internet_fijo_por_velocidad_bajada_y_provincia.pickle')

***